/* #nav .menus_items {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 460px;
  left: 0;
  right: 0;
  top: 10px;
  margin: auto;
}
#nav .menus_items .menus_item {
  padding: 0 .2rem;
} */